/*
 * Copyright (c) 2018, ARM Limited and Contributors. All rights reserved.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/dts-v1/;

/include/ "fvp-base-gicv3-psci-common.dtsi"

&CPU0 {
	reg = <0x0 0x0>;
};

&CPU1 {
	reg = <0x0 0x100>;
};

&CPU2 {
	reg = <0x0 0x200>;
};

&CPU3 {
	reg = <0x0 0x300>;
};

&CPU4 {
	reg = <0x0 0x400>;
};

&CPU5 {
	reg = <0x0 0x500>;
};

&CPU6 {
	reg = <0x0 0x600>;
};

&CPU7 {
	reg = <0x0 0x700>;
};
