/*
 * Copyright (c) 2019-2020, Arm Limited. All rights reserved.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/dts-v1/;

#include "fvp-base-gicv3-psci-aarch32-common.dtsi"

&CPU0 {
	reg = <0x0>;
};

&CPU1 {
	reg = <0x100>;
};

&CPU2 {
	reg = <0x200>;
};

&CPU3 {
	reg = <0x300>;
};

&CPU4 {
	reg = <0x10000>;
};

&CPU5 {
	reg = <0x10100>;
};

&CPU6 {
	reg = <0x10200>;
};

&CPU7 {
	reg = <0x10300>;
};
