// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) STMicroelectronics 2017 - All Rights Reserved
 * Author: Ludovic Barre <ludovic.barre@st.com> for STMicroelectronics.
 */

/dts-v1/;
#include "stm32mp157c-ed1.dts"

/ {
	model = "STMicroelectronics STM32MP157C-EV1 pmic eval daughter on eval mother";
	compatible = "st,stm32mp157c-ev1", "st,stm32mp157c-ed1", "st,stm32mp157";

	chosen {
		bootargs = "earlyprintk console=ttyS3,115200 root=/dev/ram";
		stdout-path = "serial3:115200n8";
	};
};

&usart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&usart3_pins_a>;
	resets = <&rcc USART3_R>;
	status = "disabled";
};
