/*
 * Copyright (c) 2023-2024, Arm Limited. All rights reserved.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

#define PASTER(x, y)		x ## y
#define EVALUATOR(x, y)		PASTER(x, y)
#define ADDRESSIFY(addr)	EVALUATOR(0x, addr)
