/*
 * Copyright (c) 2019, ARM Limited and Contributors. All rights reserved.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/dts-v1/;

/ {
	/* Platform Config */
	compatible = "arm,tb_fw";
	/* Disable authentication for development */
	disable_auth = <0x0>;
	/*
	 * The following two entries are placeholders for Mbed TLS
	 * heap information. The default values don't matter since
	 * they will be overwritten by BL1.
	 * In case of having shared Mbed TLS heap between BL1 and BL2,
	 * BL1 will populate these two properties with the respective
	 * info about the shared heap. This info will be available for
	 * BL2 in order to locate and re-use the heap.
	 */
	mbedtls_heap_addr = <0x0 0x0>;
	mbedtls_heap_size = <0x0>;
};
